# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Raw test results
reports/*.jt

# Python
__pycache__/
*.pyc
env/
venv/

# JMeter
*.jtl
*.log
jmeter/logs/

# Node (optional)
node_modules/

# Secrets
*.env

# Build
dist/
build/
